@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    width: 100%;
    transition: all ease 0.4s;
    float: left;
    z-index: 99999;
    
}

.ativaCor {
    background-color: #0f1922cc;
    backdrop-filter: blur(8px);
}

.title-options {
    display: flex;
    align-items: center;
    width: 100%;
    height: 5rem;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.logo {
    color: white;
}
.title-1 {
    display: flex;
    justify-content: center;
    width: 50%;
    color: white;
}

.title-2 {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.social {
    display: flex;
    width: 30rem;
    justify-content: space-around;

}
.social a {
    display: flex;
    text-decoration: none;
    align-items: center;
    color: white;
}

.social a h2 {
    font-size: 1.7rem;
    margin: 0;
}
.github {
    width: 4rem;
    height: 4rem;
}

.linkedin {
    width: 4rem;
    height: 4rem;
}

.instagram {
    width: 4rem;
    height: 4rem;
}

.twitter {
    width: 4rem;
    height: 4rem;
}

.container {
    height: 50%;
    width: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container a {
    text-decoration: none;
}

.social a svg {
    width: 1.5rem;
}

@media screen and (min-width: 1px) and (max-width: 1200px) {
    .animated-word {
        font-size: 1.2rem;
    }
    .social a h2 {
        font-size: 1.2rem;
    }
    .github {
        display: none;
    }
    
    .linkedin {
        display: none;
    }
    
    .instagram {
        display: none;
    }
    
    .twitter {
        display: none;
    }

}